
<!-- <h2>Bookmark</h2>
<div class="tickets-menu">
    <a *ngFor="let ticket of bookmarkTickets"
    routerLink="/detail/{{ticket.id}}">
    {{ ticket.ticketName }}</a>
</div> 
<hr>-->

<div class="card" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>

<!-- Adding searching functionality to the dashboard -->
<!-- <app-ticketsearch></app-ticketsearch> -->