<!-- <h2>Bookmark</h2>
<div class="tickets-menu">
    <a *ngFor="let ticket of bookmarkTickets"
    routerLink="/detail/{{ticket.id}}">
    {{ ticket.ticketName }}</a>
</div> 
<hr>-->

<div class="card float-end" style="width: 15rem;">
    <div class="card-header">Bookmarked Items</div>
    <ul class="list-group list-group-flush no-bullets">
        <li *ngFor="let ticket of bookmarkTickets" routerLink="/detail/{{ticket.id}}">
            <a>{{ ticket.ticketName }}</a>
        </li>
    </ul>
</div>


<!-- Adding searching functionality to the dashboard -->
<!-- <app-ticketsearch></app-ticketsearch> -->