<h2>Parent Component</h2>
<h4>This is a list of all tickets!</h4>
<!-- This is the parent component -->

<!-- <app-searchform (SubmitSearch)="SearchTicketByName($event)"></app-searchform> -->

<div *ngFor="let t of GetTicketResult()">
<p>{{ t.ticketName }}</p>
<a [routerLink]="['/tickets', t.ticketName]">View Details</a>
</div>

<!-- submitting to the database -->
<form #ticketForm="ngForm" (ngSubmit)="CreateATicket(ticketForm)">
    Ticket Name <input name="ticketName" type="text" ngModel>
   Opened By <input name="openedBy" type="text" ngModel>
   Issue <input name="issue" type="text" ngModel>
    <button >Save to DB</button>
</form>