<H2>Tickets: </H2>

<ul class="tickets">
    <li *ngFor="let ticket of tickets">
        <a routerLink="/detail/{{ ticket.id }}">
            <span class="badge">{{ ticket.id }} </span> {{ ticket.ticketName }}
        </a>        
        <button 
        class="delete" title="deleteTicket"
        (click)="delete(ticket)">X</button>
        <button 
        class="bookmark" title="bookmark"
        (click)="bookmark(ticket)">B</button>
        
    </li>
</ul>

<form #ticketForm="ngForm" (ngSubmit)="add(ticketForm)">
    Ticket Name <input name="ticketName" type="text" ngModel>
   Opened By <input name="openedBy" type="text" ngModel>
   Issue <input name="issue" type="text" ngModel>
    <button >Save to DB</button>
</form>