h1 {
    margin-bottom: 0;
    padding-left: 1rem;
  }

  nav{
    border-radius: 5px;
  }

  nav a {
    padding: 1rem;
    margin-top: 10px;
    display: inline-block;

    border-radius: 4px;
  }

  nav a:hover {
    color: white;
    background-color: red;
  }
  nav a.active {
    background-color: black;
  }
