<div *ngIf="ticket">

    <h2>Ticket: {{ ticket.ticketName | uppercase }} detail </h2>
    <div><span>id: </span>{{ticket.id}}</div>

    <div>
        <label for="ticketName">Ticket Name: </label>
        <!-- <input type="text" id="ticketName" [(ngModel)]="ticket.ticketName" placeholder="Ticket Name">
        <h3>Description: {{ ticket.issue }}</h3> -->

        <h3>Ticket Name: {{ ticket.ticketName }}</h3>
        <h3>Description: {{ ticket.issue }}</h3>
        <input type="text" id="ticketName" [(ngModel)]="ticket.ticketName" placeholder="Ticket Name">
    </div>
    <br>
    <button 
    class="delete" title="deleteTicket"
    (click)="delete(ticket)">X</button>
<div>
    <button (click)="goBack()">Go Back</button>
    <button (click)="save()">save</button>
</div>
</div>



<!-- Testing something -->